@import "tailwindcss";

/* Fonts */
@font-face {
	font-family: "GeneralSans";
	src: url("../fonts/GeneralSans-Medium.otf") format("opentype");
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans";
	src: url("../fonts/GeneralSans-Regular.otf") format("opentype");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans";
	src: url("../fonts/GeneralSans-Semibold.otf") format("opentype");
	font-weight: 600; /* Semibold */
	font-style: normal;
}

/* Variables */
@theme {
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1394px;

	/* Fonts */
	--font-poppins: "Poppins", sans-serif;
	--font-generalSans: "GeneralSans", sans-serif;

	/* Colors */
	--color-green-400: #00ba00;
	--color-green-800: #1b4040;
	--color-green-900: #072929;
	--color-gray-100: #f7f8f7;
	--color-gray-200: #eff1ef;
	--color-gray-300: #67686a;
	--color-gray-500: #5c616c;
	--color-gray-600: #333333;
	--color-gray-700: #393d45;
	--color-gray-800: #282d36;
	--color-gray-900: #231f20;
	--color-gray-950: #100f0f;
	--shadow-card:
		0px 171px 69px 0px rgba(133, 133, 133, 0.01),
		0px 268px 75px 0px rgba(133, 133, 133, 0),
		0px 11px 24px 0px rgba(133, 133, 133, 0.1);
	--shadow-sm: 0px 0px 4px 0px rgba(7, 41, 41, 0.1);
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}
@layer base {
	body {
		@apply font-poppins;
	}
	h1 {
		@apply text-6xl leading-[1.03] font-light tracking-[-1.22px] text-[#F0F3F9] max-lg:text-5xl max-sm:text-3xl max-sm:leading-tight;
	}
	h2 {
		@apply text-5xl font-light text-gray-700 max-lg:text-4xl max-sm:text-2xl;
	}
	h4 {
		@apply text-lg leading-[1.15] font-semibold tracking-[-0.19px] text-gray-700;
	}
}

@layer components {
	.btn {
		@apply flex max-w-fit shrink-0 justify-center rounded-[10px] px-[26px] py-[18px] text-center leading-none font-medium text-white transition-colors max-md:px-6 max-md:py-4;
	}
}

@layer utilities {
	/* Mobile Menu With Drawer */
	.mobile-menu.open {
		@apply left-0;
	}
	/* Btn */
	.btn.btn-primary {
		@apply bg-green-400 hover:bg-green-400/80;
	}
	.btn.btn-secondary {
		@apply bg-green-800 hover:bg-green-800/80;
	}
	.btn.btn-neutral {
		@apply bg-white text-black hover:bg-white/80;
	}
	.btn.btn-link {
		@apply bg-transparent text-[#6B6B6B] hover:text-green-800;
	}
}
